/* signup.css */

body {
    background-color: #f0f0f0; /* Set a light background color */
    color: #333; /* Set text color */
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #3498db;;
    padding: 1rem;}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    display: flex;
    align-items: center;
    font-size: 29px; /* Set the desired font size for the logo text */
    font-weight: bold; /* Adjust font weight if needed */
}

.logo img {
    width: 50px; /* Set the desired width for the logo image */
    height: auto; /* Maintain aspect ratio while adjusting width */
    margin-right: 10px; /* Adjust spacing between image and text */
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Adjust the height as needed */
}

.signup {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
}

.signup-container {
    max-width: 400px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
}

input {
    padding: 0.5rem;
    margin-bottom: 1rem;
}

button {
    background-color: #001E62;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #003366;
}

p {
    margin-top: 1rem;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}